@* @using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
 *@

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

 @* <h3><i>@accessor.HttpContext.Session.GetString("MyKey")</i></h3> *@

 <h3 style="color : darkred"><i>@ViewBag.Data</i></h3>
 <h4>@TempData["SessionID"]</h4>